<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="cordova-plugin-wxphoto" version="0.0.1">
        <name>wxphoto</name>
        <description>Cordova WxPhoto Plugin</description>
        <license>Apache 2.0</license>
        <keywords>cordova,wxphoto</keywords>
        <repo>https://github.com/tidycoder/cordova-plugin-wxphoto.git</repo>
        <js-module src="www/wxphoto.js" name="wxphoto">
            <clobbers target="wxphoto" />
        </js-module>
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="WXPhoto">
                    <param name="ios-package" value="CDVWXPhoto" />
                    <param name="onload" value="true" />
                </feature>
            </config-file>

            <!-- plugin source code -->
            <header-file src="src/ios/CDVWXPhoto.h" />
            <source-file src="src/ios/CDVWXPhoto.m" />

            <header-file src="src/ios/TZAssetCell.h" />
            <source-file src="src/ios/TZAssetCell.m" />
            <header-file src="src/ios/TZAssetModel.h" />
            <source-file src="src/ios/TZAssetModel.m" />
            <header-file src="src/ios/TZImageManager.h" />
            <source-file src="src/ios/TZImageManager.m" />
            <header-file src="src/ios/TZImagePickerController.h" />
            <source-file src="src/ios/TZImagePickerController.m" />
            <header-file src="src/ios/TZPhotoPickerController.h" />
            <source-file src="src/ios/TZPhotoPickerController.m" />
            <header-file src="src/ios/TZPhotoPreviewCell.h" />
            <source-file src="src/ios/TZPhotoPreviewCell.m" />
            <header-file src="src/ios/TZPhotoPreviewController.h" />
            <source-file src="src/ios/TZPhotoPreviewController.m" />
            <header-file src="src/ios/UIView+Layout.h" />
            <source-file src="src/ios/UIView+Layout.m" />
            <header-file src="src/ios/TZVideoPlayerController.h" />
            <source-file src="src/ios/TZVideoPlayerController.m" />

            <resource-file src="src/ios/Resource/MMVideoPreviewPlay@2x.png" />
            <resource-file src="src/ios/Resource/MMVideoPreviewPlayHL@2x.png" />
            <resource-file src="src/ios/Resource/navi_back@2x.png" />
            <resource-file src="src/ios/Resource/photo_def_photoPickerVc@2x.png" />
            <resource-file src="src/ios/Resource/photo_def_previewVc@2x.png" />
            <resource-file src="src/ios/Resource/photo_number_icon@2x.png" />
            <resource-file src="src/ios/Resource/photo_original_def@2x.png" />
            <resource-file src="src/ios/Resource/photo_original_sel@2x.png" />
            <resource-file src="src/ios/Resource/photo_sel_photoPickerVc@2x.png" />
            <resource-file src="src/ios/Resource/photo_sel_previewVc@2x.png" />
            <resource-file src="src/ios/Resource/preview_number_icon@2x.png" />
            <resource-file src="src/ios/Resource/preview_original_def@2x.png" />
            <resource-file src="src/ios/Resource/TableViewArrow@2x.png" />
            <resource-file src="src/ios/Resource/VideoSendIcon@2x.png" />
            <resource-file src="src/ios/Resource/TZAlbumCell.xib" />
            <resource-file src="src/ios/Resource/TZAssetCell.xib" />


            <!-- other required frameworks -->
            <framework src="SystemConfiguration.framework" />
            <framework src="CoreTelephony.framework" />
            <framework src="QuartzCore.framework" />
            <framework src="CoreText.framework" />
            <framework src="CoreGraphics.framework" />
            <framework src="UIKit.framework" />
            <framework src="Foundation.framework" />
            <framework src="CFNetwork.framework" />
            <framework src="CoreMotion.framework" />
            <framework src="libz.dylib" />
            <framework src="libc++.dylib" />
        </platform>
        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="WXPhoto">
                    <param name="android-package" value="com.foamtrace.photopicker.CDVWXPhoto" />
                    <param name="onload" value="true" />
                </feature>
            </config-file>

            <config-file target="AndroidManifest.xml" parent="/*">
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            </config-file>

            <config-file target="AndroidManifest.xml" parent="/manifest/application">
                <activity
                    android:name="com.foamtrace.photopicker.PhotoPickerActivity"
                    android:theme="@style/PhotoPickerTheme"
                    android:configChanges="orientation|screenSize"/>
                <activity android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
                    android:theme="@style/PhotoPickerTheme"/>
            </config-file>

            <source-file src="src/android/com/foamtrace/photopicker/intent/PhotoPickerIntent.java" target-dir="src/com/foamtrace/photopicker/intent" />
            <source-file src="src/android/com/foamtrace/photopicker/intent/PhotoPreviewIntent.java" target-dir="src/com/foamtrace/photopicker/intent" />
            <source-file src="src/android/com/foamtrace/photopicker/widget/ViewPagerFixed.java" target-dir="src/com/foamtrace/photopicker/widget" />

            <source-file src="src/android/com/foamtrace/photopicker/Folder.java" target-dir="src/com/foamtrace/photopicker" />
            <source-file src="src/android/com/foamtrace/photopicker/FolderAdapter.java" target-dir="src/com/foamtrace/photopicker" />
            <source-file src="src/android/com/foamtrace/photopicker/Image.java" target-dir="src/com/foamtrace/photopicker" />
            <source-file src="src/android/com/foamtrace/photopicker/ImageCaptureManager.java" target-dir="src/com/foamtrace/photopicker" />
            <source-file src="src/android/com/foamtrace/photopicker/ImageConfig.java" target-dir="src/com/foamtrace/photopicker" />
            <source-file src="src/android/com/foamtrace/photopicker/ImageGridAdapter.java" target-dir="src/com/foamtrace/photopicker" />
            <source-file src="src/android/com/foamtrace/photopicker/PhotoPagerAdapter.java" target-dir="src/com/foamtrace/photopicker" />
            <source-file src="src/android/com/foamtrace/photopicker/PhotoPickerActivity.java" target-dir="src/com/foamtrace/photopicker" />
            <source-file src="src/android/com/foamtrace/photopicker/PhotoPreviewActivity.java" target-dir="src/com/foamtrace/photopicker" />
            <source-file src="src/android/com/foamtrace/photopicker/SelectModel.java" target-dir="src/com/foamtrace/photopicker" />
            <source-file src="src/android/com/foamtrace/photopicker/CDVWXPhoto.java" target-dir="src/com/foamtrace/photopicker" />


            <resource-file src="src/android/res/mipmap-hdpi/ic_action_discard.png" target="res/mipmap-hdpi/ic_action_discard.png" />
            <resource-file src="src/android/res/mipmap-mdpi/ic_action_discard.png" target="res/mipmap-mdpi/ic_action_discard.png" />
            <resource-file src="src/android/res/mipmap-xhdpi/ic_action_discard.png" target="res/mipmap-xhdpi/ic_action_discard.png" />
            <resource-file src="src/android/res/mipmap-xhdpi/text_indicator_normal.png" target="res/mipmap-xhdpi/text_indicator_normal.png" />
            <resource-file src="src/android/res/mipmap-xhdpi/text_indicator_pressed.png" target="res/mipmap-xhdpi/text_indicator_pressed.png" />

            <resource-file src="src/android/res/mipmap-xxhdpi/asv.png" target="res/mipmap-xxhdpi/asv.png" />
            <resource-file src="src/android/res/mipmap-xxhdpi/asy.png" target="res/mipmap-xxhdpi/asy.png" />
            <resource-file src="src/android/res/mipmap-xxhdpi/btn_selected.png" target="res/mipmap-xxhdpi/btn_selected.png" />
            <resource-file src="src/android/res/mipmap-xxhdpi/btn_unselected.png" target="res/mipmap-xxhdpi/btn_unselected.png" />
            <resource-file src="src/android/res/mipmap-xxhdpi/default_check.png" target="res/mipmap-xxhdpi/default_check.png" />
            <resource-file src="src/android/res/mipmap-xxhdpi/default_error.png" target="res/mipmap-xxhdpi/default_error.png" />
            <resource-file src="src/android/res/mipmap-xxhdpi/ic_action_discard.png" target="res/mipmap-xxhdpi/ic_action_discard.png" />


            <resource-file src="src/android/res/drawable/text_indicator.xml" target="res/drawable/text_indicator.xml" />
            <resource-file src="src/android/res/menu/menu_picker.xml" target="res/menu/menu_picker.xml" />
            <resource-file src="src/android/res/menu/menu_preview.xml" target="res/menu/menu_preview.xml" />
            <resource-file src="src/android/res/color/action_text_color.xml" target="res/color/action_text_color.xml" />

            <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
            <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />


            <resource-file src="src/android/res/layout/activity_image_preview.xml" target="res/layout/activity_image_preview.xml" />
            <resource-file src="src/android/res/layout/activity_photopicker.xml" target="res/layout/activity_photopicker.xml" />
            <resource-file src="src/android/res/layout/item_camera.xml" target="res/layout/item_camera.xml" />
            <resource-file src="src/android/res/layout/item_folder.xml" target="res/layout/item_folder.xml" />
            <resource-file src="src/android/res/layout/item_preview.xml" target="res/layout/item_preview.xml" />
            <resource-file src="src/android/res/layout/item_select_image.xml" target="res/layout/item_select_image.xml" />
            <resource-file src="src/android/res/layout/photopicker_toolbar.xml" target="res/layout/photopicker_toolbar.xml" />
            <resource-file src="src/android/res/values/strings.xml" target="res/values/wxstrings.xml" />
            <resource-file src="src/android/res/values/styles.xml" target="res/values/wxstyles.xml" />
            <framework src="com.android.support:appcompat-v7:22+" />
            <framework src="com.android.support:design:22.+" />
            <framework src="com.github.bumptech.glide:glide:3.6.1" />
            <framework src="com.github.chrisbanes.photoview:library:+" />
        </platform>
    </plugin>
