<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="cordova-plugin-wxphoto" version="0.0.1">
        <name>wxphoto</name>
        <description>Cordova WxPhoto Plugin</description>
        <license>Apache 2.0</license>
        <keywords>cordova,wxphoto</keywords>
        <repo>https://github.com/tidycoder/cordova-plugin-wxphoto.git</repo>
        <js-module src="www/wxphoto.js" name="wxphoto">
            <clobbers target="wxphoto" />
        </js-module>
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="WXPhoto">
                    <param name="ios-package" value="CDVWXPhoto" />
                    <param name="onload" value="true" />
                </feature>
            </config-file>

            <!-- plugin source code -->
            <header-file src="src/ios/CDVWXPhoto.h" />
            <source-file src="src/ios/CDVWXPhoto.m" />

            <header-file src="src/ios/TZAssetCell.h" />
            <source-file src="src/ios/TZAssetCell.m" />
            <header-file src="src/ios/TZAssetModel.h" />
            <source-file src="src/ios/TZAssetModel.m" />
            <header-file src="src/ios/TZImageManager.h" />
            <source-file src="src/ios/TZImageManager.m" />
            <header-file src="src/ios/TZImagePickerController.h" />
            <source-file src="src/ios/TZImagePickerController.m" />
            <header-file src="src/ios/TZPhotoPickerController.h" />
            <source-file src="src/ios/TZPhotoPickerController.m" />
            <header-file src="src/ios/TZPhotoPreviewCell.h" />
            <source-file src="src/ios/TZPhotoPreviewCell.m" />
            <header-file src="src/ios/TZPhotoPreviewController.h" />
            <source-file src="src/ios/TZPhotoPreviewController.m" />
            <header-file src="src/ios/UIView+Layout.h" />
            <source-file src="src/ios/UIView+Layout.m" />
            <header-file src="src/ios/TZVideoPlayerController.h" />
            <source-file src="src/ios/TZVideoPlayerController.m" />

            <resource-file src="src/ios/Resource/MMVideoPreviewPlay@2x.png" />
            <resource-file src="src/ios/Resource/MMVideoPreviewPlayHL@2x.png" />
            <resource-file src="src/ios/Resource/navi_back@2x.png" />
            <resource-file src="src/ios/Resource/photo_def_photoPickerVc@2x.png" />
            <resource-file src="src/ios/Resource/photo_def_previewVc@2x.png" />
            <resource-file src="src/ios/Resource/photo_number_icon@2x.png" />
            <resource-file src="src/ios/Resource/photo_original_def@2x.png" />
            <resource-file src="src/ios/Resource/photo_original_sel@2x.png" />
            <resource-file src="src/ios/Resource/photo_sel_photoPickerVc@2x.png" />
            <resource-file src="src/ios/Resource/photo_sel_previewVc@2x.png" />
            <resource-file src="src/ios/Resource/preview_number_icon@2x.png" />
            <resource-file src="src/ios/Resource/preview_original_def@2x.png" />
            <resource-file src="src/ios/Resource/TableViewArrow@2x.png" />
            <resource-file src="src/ios/Resource/VideoSendIcon@2x.png" />
            <resource-file src="src/ios/Resource/TZAlbumCell.xib" />
            <resource-file src="src/ios/Resource/TZAssetCell.xib" />


            <!-- other required frameworks -->
            <framework src="SystemConfiguration.framework" />
            <framework src="CoreTelephony.framework" />
            <framework src="QuartzCore.framework" />
            <framework src="CoreText.framework" />
            <framework src="CoreGraphics.framework" />
            <framework src="UIKit.framework" />
            <framework src="Foundation.framework" />
            <framework src="CFNetwork.framework" />
            <framework src="CoreMotion.framework" />
            <framework src="libz.dylib" />
            <framework src="libc++.dylib" />
        </platform>
        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="WXPhoto">
                    <param name="android-package" value="uuke.xinfu.wxphoto.CDVWXPhoto" />
                    <param name="onload" value="true" />
                </feature>
            </config-file>

            <config-file target="AndroidManifest.xml" parent="/*">
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            </config-file>

            <config-file target="AndroidManifest.xml" parent="/manifest/application">
                <activity
                    android:name="uuke.xinfu.wxphoto.PhotoPickerActivity"
                    android:theme="@style/PhotoPickerTheme"
                    android:configChanges="orientation|screenSize"/>
                <activity android:name="uuke.xinfu.wxphoto.PhotoPreviewActivity"
                    android:theme="@style/PhotoPickerTheme"/>
            </config-file>

            <framework src="src/android/rules.gradle" custom="true" type="gradleReference" />

            <source-file src="src/android/CDVWXPhoto.java" target-dir="src/uuke/xinfu/wxphoto" />
            <source-file src="src/android/libs/wxphoto.aar" target-dir="libs" />


        </platform>
    </plugin>
